<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1251" />
<title>EAStyle</title>
{meta_tegs}
<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body>
<div align="center">

		<div  style="background-image: url(/images/fon.jpg);width:1024px;height:425px;">
			<div class="knopki" >
				<div  class="knop3">
					<ul>
	      						  <li><a href="#">О Нас</a>
	      						  <span class="mainmenu">
	     							 <ul>
	     							    <li><a href="#"> Наши работы</a></li>
	      							    <li><a href="#"> Наши клиенты</a></li>
	      							    <li><a href="#"> Контакты</a></li>
	      							</ul>
	      							</span>
	   							 </li>
	  				</ul>
				</div>

				<div  class="knop4">
				    <ul>
	      						  <li><a href="#">Дизайн студия</a>
	      						  <span class="mainmenu">
	     							 <ul>
	      							    <li><a href="#"> Наружная реклама</a></li>
	      							    <li><a href="#"> Логотип</a></li>
	      							</ul>
	      							</span>
	   							 </li>
	  				</ul>
				</div>

				<div  class="knop4">
					<ul>
	      						  <li><a href="#">Создание сайта</a>
	      						  <span class="mainmenu">
	     							 <ul>
	      							    <li><a href="#"> Сайт-визитка</a></li>
	      							    <li><a href="#"> Сайт-каталог</a></li>
	        							<li><a href="#"> Информационный сайт</a></li>
	        							<li><a href="#"> Корпоративный сайт</a></li>
	      							</ul>
	      							</span>
	   							 </li>
	  				</ul>
  				</div>
			 </div>
		</div>

		<div style="text-align:center;">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="1024" height="325" id="Panoram2" align="middle">
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="false" />
			<param name="movie" value="/flash/Panoram2.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />
			<embed src="/flash/Panoram2.swf" quality="high" bgcolor="#ffffff" width="1024" height="325" name="Panoram2" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_ru" />
			</object>
		</div>
        <div style="text-align:center;">
			{content}
		</div>
</div>
</body>
</html>
