
<script type="text/javascript">
$(document).ready(function() {
		
		window.deleteCategoryById = function (id) {
			var rndval = new Date().getTime();
			$.get('/admin.php?action=add&option=delete_cats&id=' + id +'&rndval=' + rndval, function(data) {
			  	$("#row_"+id).hide(); //hide deleted row
			  	updateCategoryListInCatalogPage();
			  	updateCategoryListTableInCatalogPage();
			});
		}
		
		$('#admin-category-edit-CareateCatalog').submit(function() {
			var rndval = new Date().getTime();
			$.post("/admin.php?action=add&option=addcatalog&rndval=" + rndval,
				$("#admin-category-edit-CareateCatalog").serialize() + "&Apply=OK", function(data) {
			  		updateCategoryListInCatalogPage();	
			  		updateCategoryListTableInCatalogPage();
				});
			return false;
		});
		
		window.updateCategoryListInCatalogPage = function () {
			var rndval = new Date().getTime();
			$.get('/admin.php?action=add&option=updateCategoryList&rndval=' + rndval, function(data) {
			  	$("#admin-category-edit-category-list").html("<option value=\"0\" selected>Корневой каталог</option>" + data);
			});
		}
		
		window.updateCategoryListTableInCatalogPage = function () {
			var rndval = new Date().getTime();
			$.get('/admin.php?action=add&option=updateCategoryListTable&rndval=' + rndval, function(data) {
			  	$("#admin-category-edit-categoryes-table").html("<tr>" + data);
			});
		}
});
</script>
<style type="text/css">
.fon_opis{
	background-image: url(/admin/images/fon_opis.jpg);
	padding: 5px 5px 5px 5px;
	}
.okno_b{
	border:solid 1px #000000;
	background: #ffffff;
	}
.table_fon{
    background: #ffffff;
	}
.table_line{
    border-bottom:dotted 1px #000000;
	}
</style>

<table>
	<tr >
            <td>
<!--		Create or Update Category		-->           
            <div class="okno_b">
            <div class="fon_opis"><b>Создать каталог:</b></div>
	            <form id="admin-category-edit-CareateCatalog" action="/admin.php?action=add&option=addcatalog" method="post">
					<table class="table_fon">
					<tr>
						<td width="100" class="table_names">Имя(engl):</td>
						<td align="left"><input name="Name" type="text" value="" size="60"/></td>  
					</tr><tr>
						<td class="table_names">Метатег(title):</td>
						<td align="left"><input name="Zagolovok" type="text" value="" size="60"/></td>  
					</tr><tr>
						<td class="table_names">Заголовок(новости):</td>
						<td align="left"><input name="Title" type="text" value="" size="60"/></td>
					</tr><tr>
						<td class="table_names">Каталоги:</td>
						<td align="left">
							<select name="Category[]" style="width:380px;" id="admin-category-edit-category-list">
								<option value="0" selected>Корневой каталог</option>
								{cats2}
							</select>
						</td>  
					</tr><tr>
						<td class="table_names">Шаблон:</td>
						<td align="left"><input name="Template" type="text" value="main" /></td>
					</tr>
					</table>
					<input name="Metka" type="hidden" value="2" />
			        <input type="submit" value="Создать" name="Apply" value="OK" onclick="" />
				</form>
				</div>

<!--		END Create or Update Category		--> 				
				
<br />
				
<!--		Category Tabale		-->
				<div class="okno_b">
				<div align="center">
					<div align="left" class="fon_opis">Список всех категорий:</div>
					<table width="700" class="table_fon" cellpadding="0" cellspacing="0">
						<tr>
						<td width="25" class="table_names">ID</td>
						<td width="35" class="admin-category-edit-td-status">Статус:</td>
						<td class="admin-category-edit-td-categories">Категория:</td>
						<td class="admin-category-edit-td-anonce">Анонс:</td>
						<td class="admin-category-edit-td-tools" colspan="2">Действия:</td>
						</tr>
					</table>
					<table width="700" id="admin-category-edit-categoryes-table" cellpadding="0" cellspacing="0">
						<tr>{cats_list}
					</table>
				</div>
				</div>
<!--		END Category Tabale		-->
				
			</td>
	</tr>
</table>


