
<style type="text/css">
.fon_opis{
	background-image: url(/admin/images/fon_opis.jpg);
	padding: 5px 5px 5px 5px;
	}
.okno_b{
	border:solid 1px #000000;
	background: #ffffff;
	}
.table_names{
	font-weight: bold;
    background: #DDF9FF;
	}
.table_fon{
    background: #ffffff;
	}
.table_line{
    border-bottom:dotted 1px #000000;
	}
#catalog{
	display:none;
}
.menu_img{
	float:left;
	width:60px;
	height:60px;
	margin-left:30px;
	margin-top:10px;
	border:solid 1px #000000;
}
.menu_text{
	float:left;
	margin-top:10px;
	margin-left:10px;
}
</style>
<table width="100%">
	<tr>
            <td>
            <div class="okno_b">
            <div class="fon_opis"><b>Основное:</b></div>
				<table width="100%">
				<tr>
				<td width="300" >
				<a href="/admin.php?action=add&st=cat"><div class="menu_img"></div><div class="menu_text"><b>Категории</b><br /><small>управление разделами</small></div></a>
				</td>
				<td >
				<a href="#"><div class="menu_img"></div><div class="menu_text"><b>Страницы</b><br /><small>управление контентом</small></div></a>
				</td>
			</tr><tr>
				<td>
				<a href="/admin.php?action=add&st=st"><div class="menu_img"></div><div class="menu_text"><b>Добавить новость</b><br /><small>создание новой страницы</small></div></a>
				</td>
				<td>
				<a href="#"><div class="menu_img"></div><div class="menu_text"><b>Настройки</b><br /><small>настройки сайта</small></div></a>
				</td>
			</tr><tr>
				<td>
				</td>
				<td>
				</td>
			</tr><tr>
				</table>
			</div>
			</td>
	</tr>
	<tr>
            <td>
            <div class="okno_b">
            <div class="fon_opis"><b>Модули</b></div>

	        </div>
			</td>
	</tr>
</table>
