</tr>
<tr class="admin-category-edit-cat-row" id="row_{cat-id}">
<td>
{cat-id}
</td>
<td>
<a class="admin-category-edit-tag-a" href="javascript:" onclick="javascript:user_click('edit','{cat-id}');return false;" title="Редактировать">
<img alt="Опубликовать" class="admin-category-edit-icon" src="admin/template/images/icon-published.gif">
</a>
</td>
<td>
	{icon-cat-child}<a href="{cat-page}" target="_blank">{cat-title}</a>
</td>
<td>
{cat-anonce}
</td>
<td>
{cat-elements-all} / {cat-elements-publ}
</td>
<td width="35">
<a class="admin-category-edit-tag-a" href="javascript:" onclick="javascript:user_click('edit','{cat-id}');return false;" title="Редактировать">
<img alt="Редактировать" class="admin-category-edit-icon" src="admin/template/images/icon-edit.gif">
</a>
</td>
<td width="35">
<a href="javascript:" onclick="javascript:deleteCategoryById('{cat-id}');return false;" title="Удалить">
<img alt="Удалить" class="admin-category-edit-icon" src="admin/template/images/icon-delete.gif" />
</a>
</td>

