
<style type="text/css">

 div.login_p {
    border: 5px solid #000000;
    max-width:300px;
    padding:10px;

}
</style>
<div align="center" style="padding-top:200px;">
  <div class="login_p">
			<form name="create" action="/index.php?action=login&ok=ok" method="post">
			<table border="0" >
				<tr>

						<td width="100" height="50%">Логин:</td><td>    <input name="login" type="text" value="" /></td>  </tr><tr>

						<td height="50%">Пароль :         </td><td><input name="pass" type="text" value="" /></td>  </tr><tr>

				</tr>
			</table>
			<div align="right"><input type="submit" value="Войти"></div>
			</form>
 </div></div>